body {
  background-image: url('/images/shl.png')
}
.col-md-6 {
  margin-left: 40px;
  
}
.invites{
  height:400px;
  width:400px;
  border:10px;
  margin-left:600px;
  margin-bottom:10px;
  
}
body .invites .container .form-horizontal fieldset control-group .controls select{
  width:600px;
  height:600px;
}

.album{
  margin-left:40px;
  width: 300px;
}

.nav .container-fluid{
     list-style: none;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
       background-color: #000333;
    height:75px;
}

.header h1{
	color: #3366ff;
	font-size: 40px;
  font-weight: bold;
 display: inline-block; 
  margin-left: 600px;

  font-family: 'Droid Serif', serif;
}

.nav a {
color: #3366ff;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px; 
  padding: 14px 10px;
  display: inline-block;
  text-align: center;  
  font-family: 'Droid Serif', serif;
}

.navbar-header a{
	       color: #fffff8;
	       font-size: 40px;
  	       font-weight: bold;
  	       display: block;

}



.controls label {
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 40px;
}
.controls input {
    display: block;
    margin: 0 auto -40px;
}

.form-horizontal {
  margin-bottom: 50px;

}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

