doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title= "Tripster - View Album Photos"
    // Bootstrap Core CSS
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/thumbnail-gallery.css" rel="stylesheet")


  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/media') Tripster
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse
      // /.container
    // Page Content
    h2 Add Media
    form(method='post' action='/addmedia')
      input#albumid(name='albumid', value=album, style='display:none')
      input#mediaurl.input-xlarge(name='imageurl', type='text', placeholder='Media URL', size='60')
      br
      input#caption.input-xlarge(name='caption', type='text', placeholder='Add a caption', size='75')
      br
      label(for='photo' style='margin-right:5px;') photo
        input#photo(type='radio', name='type', value='photo' style='margin-right:10px;')
      br
      label(for='video' style='margin-right:5px;') video
        input#video(type='radio', name='type', value='video' style='margin-right:10px;')
      br
      input(type='submit', value='submit')
