html
  head
    link(href='/stylesheets/createTrip.css', rel='stylesheet')
    |     &#x9;
    link(href='/Users/niveditavelagaleti/Downloads/dist/css/bootstrap.css', rel='stylesheet')
    |     &#x9;
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')
    |     &#x9;
    title Bootstrap Case
    |     &#x9;
    meta(charset='utf-8')
    |     &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     &#x9;
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  |     
  body
    .nav
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/login?username=lsn&password=password') Tripster
        // navbar header ends
        .pull-right
          ul.nav.navbar-nav
            li.active
              a(href='/mytrips') My Trips
        // pull right ends
      // container fluid ends
    // nav ends
    .header
      h1 My New Trip
    |     &#x9; 
    .row
      form.form-horizontal(method='POST', action='/createTrip')
        fieldset
          // Form Name
          .col-md-6
            legend Create a new trip!
            | &#x9;    &#x9;&#x9;&#x9;
            .control-group
              label.control-label(for='inputname') Trip Name
              | &#x9;     &#x9;&#x9; &#x9;&#x9;
              .controls
                input#inputname.input-xlarge(name='inputname', type='text', placeholder='Name your trip!')
              // controls ends
            // control-group for inputname ends
            // Text input
            .control-group
              label.control-label(for='inputstart') Start Date
              | &#x9;     &#x9;&#x9; &#x9;&#x9;
              .controls
                input#inputstart.input-xlarge(name='inputstart', type='text', placeholder='DD-MOM-YYYY')
            // control-group for inputstart ends
            // Text input
            .control-group
              label.control-label(for='inputend') End Date
              | &#x9;     &#x9;&#x9;&#x9;&#x9;
              .controls
                input#inputend.input-xlarge(name='inputend', type='text', placeholder='DD-MOM-YYYY')
            // Select Basic
            .control-group
              label.control-label(for='privacy') Privacy Settings
              | &#x9;      &#x9;&#x9;&#x9;&#x9;
              .controls
                select#privacy.input-xlarge(name='privacy')
                  option private
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  option sharedWithTripMembers
                  | &#x9;&#x9;  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  option public
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .control-group
              label.control-label(for='location') Places to Visit
              | &#x9;      &#x9;&#x9;&#x9;&#x9;
              .controls
                textarea#location(name='location', required='required')
          // ends the col-md-6
          .col-md-6
            legend Add my friends to the trip!
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .control-group
              label.control-label(for='selectfriends') Select Friends
              | &#x9;  &#x9;&#x9;&#x9;&#x9;&#x9;
              .controls
                select#selectfriends.input-xlarge(name='selectfriends', multiple='multiple')
                  for friends in result
                    option(name = friends.USERNAME, required='required') #{friends.FIRSTNAME} #{friends.LASTNAME} -#{friends.USERNAME}
          |       
          |      &#x9;&#x9;&#x9;
          .control-group
            label.control-label(for='submit')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .controls
              button#submit.btn.btn-primary(name='submit') Let&apos;s Go!
