extend layout

block body
  #page-wrapper(style='padding-top: 10px')
	    .panel.panel-default
          .panel-heading
            i.fa.fa-users.fa-fw
            | Your Albums
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                | New Comment

    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/javascripts/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='/javascripts/raphael.min.js')
    |     
    script(src='/javascripts/morris.min.js')
    |     
    script(src='/javascripts/morris-data.js')
    // Custom Theme JavaScript
    script(src='/javascripts/sb-admin-2.js')
    |     
    script(src='/javascripts/bootstrap-datepicker.js')

