extend layout
block body
          
    #page-wrapper(style='padding-top: 10px')
      .panel.panel-default
          .panel-heading
            i.fa.fa-glass.fa-fw
            | My Trips
          // /.panel-heading
          .panel-body
              .row
                for names in result  
                  .col-lg-offset-1.col-md-4
                    .row
                      a(href='/tripspage?tripid=#{names.ID}') #{names.NAME}
                    br
              