doctype html
html
  head
    title Hello
  body
    h1 Hello world!
    |   &#x9;
    table.table.table-hover(name='Trip Members') 
      label Trip Members
        for member in testlist
          tr
            td #{member.NAME} 